.corpo_props{
    position: relative;
    width: 450px;
    height: auto;
    background-color: rgba(255,255,255,0.7);
    color: #333;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    top: 30px;
    left: 20px;
    z-index: 2;

    
}

.corpo_props:hover{
    background-color: rgb(255,255,255);
    font-size: 22px;
    cursor: pointer;
    margin-left: 30px;
}

.band {
    width: 150px;
    height: 100px;
}