.corpo {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imagem_lado {
  background-image: url(../assets/imagens/mala.jpg);
  width: 42%;
  height: 610px;
  background-size: cover;
}

.texto_lado {
  width: 45%;
  height: 450px;
  font-size: 25px;
}
